<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="left-panel">
            <h2>Welcome Back!</h2>
            <p>Vui lòng đăng kí nếu bạn chưa có tài khoản!</p>
            <button onclick="location.href='/signup'">ĐĂNG KÍ</button>
        </div>

        <div class="right-panel">
            <h2>Đăng Nhập</h2>
            <form th:action="@{/login}" method="post">
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <p style="color: red;" th:text="${error}"></p>
                <button type="submit">ĐĂNG NHẬP</button>
            </form>
        </div>
    </div>
</body>

</html>